<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login </title>
		<style type="text/css">
			*

body
{
	margin: 0;
	padding: 0;
	background: url('/img/bg.jpg');
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}


.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 440px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: #000;
}

h1
{
	margin: 0;
	padding: 0  0  10px 0;
	text-align: center;
	font-size: 22px;
    color: white;
}
.loginBox p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="text"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #c226ff;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

		</style>
	</head>
	<body>      
		<div class="loginBox">
		
			<h1>Calling Information</h1>
			<form action="/callbackadd" method="post">
				<p>Name</p>
				<input type="text" name="cnam" placeholder="Enter Name" required >
				<p>Mobile Number</p>
				<input type="text" name="mob" placeholder="Enter Mobile Number" required>
                <p>Reason</p>
                <textarea name="reason" cols="27" placeholder="Enter Reason" ></textarea>
                <input type="submit" value="Submit">
				
			</form>
			
		</div>
        
		
	</body>
</html>
